<section class="container py-4">
  <h2 class="mb-4 text-center">Add New Startup</h2> <!-- Add Title -->

  <form [formGroup]="startupForm" (ngSubmit)="addStartup()">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Startup Name</mat-label>
      <input matInput formControlName="nameStartup" required />
      <mat-error *ngIf="startupForm.get('nameStartup')?.invalid">Name is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Overview</mat-label>
      <textarea matInput formControlName="overviewStartup" required></textarea>
      <mat-error *ngIf="startupForm.get('overviewStartup')?.invalid">Overview is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Country</mat-label>
      <mat-select formControlName="countryId" required>
        <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Industry</mat-label>
      <mat-select formControlName="industryId" required>
        <mat-option *ngFor="let industry of industries" [value]="industry.id">{{ industry.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!startupForm.valid">
      Submit
    </button>
  </form>
</section>
