<h2
  class="table-title"
  style="
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #3f51b5;
  "
>
  Registered Members
</h2>

<table class="styled-table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Member Type</th>
      <th>Location</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of member; trackBy: trackByMemberId">
      <td>{{ member.memberEmail }}</td>
      <td>{{ member.memberType }}</td>
      <td>{{ member.memberAddress }}</td>
      <td>{{ member.memberPhone }}</td>
    </tr>
  </tbody>
</table>
