<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu
  icon"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button routerLink="/" mat-menu-item>Homepage</button>
    <button routerLink="/newmember" mat-menu-item>Sign Up</button>
    <button routerLink="/member" mat-menu-item>Members</button>
    <button routerLink="/startup" mat-menu-item>Startups</button>
    <button routerLink="/investor" mat-menu-item>Investors</button>
  </mat-menu>
  <span>Menu</span>
</mat-toolbar>

<router-outlet></router-outlet>
