<form *ngIf="member" #memberForm="ngForm" (ngSubmit)="updateMember()">
  <mat-card class="form-card">
    <!-- Type -->
    <div class="form-field">
      <mat-label>Member Type</mat-label>
      <mat-radio-group
        name="memberType"
        [(ngModel)]="member.memberType"
        #memberType="ngModel"
        required
      >
        <mat-radio-button value="startup">Startup</mat-radio-button>
        <mat-radio-button value="investor">Investor</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="memberType.invalid && memberType.touched">
        Type is required
      </mat-error>
    </div>

    <!-- Email -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        name="memberEmail"
        [(ngModel)]="member.memberEmail"
        required
        #memberEmail="ngModel"
      />
      <mat-error *ngIf="memberEmail.invalid && memberEmail.touched">
        <span *ngIf="memberEmail.errors?.['required']">Email is required</span>
        <span *ngIf="memberEmail.errors?.['email']">Invalid email format</span>
      </mat-error>
    </mat-form-field>

    <!-- Address -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Headquarter</mat-label>
      <input
        matInput
        type="text"
        name="memberAddress"
        [(ngModel)]="member.memberAddress"
        required
        #memberAddress="ngModel"
        pattern="^[a-zA-Z]+, [a-zA-Z]+$"
        matTooltip="Enter a valid address in the format 'City, Country'"
      />
      <mat-error *ngIf="memberAddress.invalid && memberAddress.touched">
        <span *ngIf="memberAddress.errors?.['required']"
          >Address is required.</span
        >
        <span *ngIf="memberAddress.errors?.['pattern']">
          Address must be in the format 'City, Country'.
        </span>
      </mat-error>
    </mat-form-field>

    <!-- Phone -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Phone</mat-label>
      <input
        matInput
        type="text"
        name="memberPhone"
        [(ngModel)]="member.memberPhone"
        placeholder="+12 34567890"
        required
        pattern="^\+\d{1,3} \d{6,12}$"
        matTooltip="Enter a valid phone number"
        matTooltipPosition="above"
        #memberPhone="ngModel"
      />
      <mat-error *ngIf="memberPhone.invalid && memberPhone.touched">
        <span *ngIf="memberPhone.errors?.['required']">Phone is required</span>
        <span *ngIf="memberPhone.errors?.['pattern']">
          Phone must be in the format '+123 458487'
        </span>
      </mat-error>
    </mat-form-field>

    <!-- Submit -->
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="memberForm.invalid"
    >
      Update
    </button>
  </mat-card>
</form>
