/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2.page-header {
  font-size: 2.5rem !important;
  color: #3f51b5 !important;
  text-align: center !important;
  margin: 0 auto 20px auto !important; /* Center horizontally and add bottom margin */
  padding: 20px 0 !important; /* Add consistent top and bottom padding */
  width: 100%; /* Ensure it spans the full width of the container */
  box-sizing: border-box; /* Include padding in the width calculation */
}
